* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.87);
    overflow-x: hidden;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.nav-btn {
    width: 48px; height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.64);
    opacity: 0;
    transition: background-color 0.3s, opacity 0.3s;
    pointer-events: none;
    cursor: pointer;
    z-index: 8;
}

.nav-btn.active {
    opacity: 1;
    pointer-events: initial;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.nav-btn-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#nav-left {
    left: 0;
}

#nav-right {
    right: 0;
}

#wrapper {
    height: 100vh;
    overflow: hidden;
}

#wrapper.active {
    height: initial;
    overflow-y: initial;
}

.fp-section {
    width: 100vw; min-height: 100vh;
}

#header {
    position: absolute;
    z-index: 4;
    pointer-events: none;
}

#header-cont {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#header-img {
    width: 86vw;
    text-align: center;
}

#header-img > img {
    max-width: 100%;
}

#header-text {
    display: flex;
    flex-flow: row;
    align-items: baseline;
    font-family: 'Oswald', 'Impact', 'Helvetica', 'Arial', sans-serif;
    text-shadow: 0 0 12px #000;
}

#header-text-left, #header-text-right, #header-text-only {
    padding: 0 8px;
    font-size: 24pt;
    font-weight: bold;
    flex: 1;
}

#header-text-left {
    text-align: right;
}

#header-text-divider {
    color: rgba(127, 127, 127, 0.87);
    text-align: center;
    font-size: 30pt;
    flex: 0;
}

#header-text-right {
    text-align: left;
}

#header-text-only {
    text-align: center;
}

#swap-wrapper {
    position: relative;
    left: -50vw;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    transition: left 0.3s;
}

.full-page {
    display: flex;
    flex-flow: column;
    opacity: 0.4;
    transition: opacity 0.3s;
}

.full-page:hover {
    opacity: 0.75;
}

.full-page.active {
    opacity: 1;
}

#page-left {
    background-color: #8BC34A;
    align-items: flex-end;
}

#page-right {
    background-color: #263238;
    align-items: flex-start;
}

.fp-header {
    width: 50%;
    background-position: center;
    background-size: cover;
    transition: width 0.3s;
    cursor: pointer;
}

#wrapper.active .fp-header {
    width: 100%;
    cursor: initial;
}

#header-left {
    background-image: url("/static/img/header-left.JPG");
}

#header-right {
    background-image: url("/static/img/header-right.JPG");
}

.fp-section {
    padding: 9vh 9vw;
    position: relative;
}

.fp-border-top {
    border-top: 2px solid rgba(255, 255, 255, 0.3);
}

.section-header {
    margin-bottom: 12px;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Oswald', 'Impact', 'Helvetica', 'Arial', sans-serif;
}

.section-content {
    font-size: 16pt;
}

.section-content > p {
    margin-bottom: 10px;
}

.schedule {
    margin-bottom: 16px;
    padding: 8px 4px;
    box-shadow: inset 0 1px 12px -4px #2A2A2A;
}

#schedule-left {
    background-color: #68A636;
}

#schedule-right {
    background-color: #1b2327;
}

@media(max-width: 768px) {

    .schedule {
        overflow-x: scroll;
    }

}

.schedule > div {
    padding-left: 12px; padding-right: 12px;
    white-space: nowrap;
}

.schedule > div > p {
    width: 110px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

.schedule > div > p.event {
    width: auto;
    color: #000000;
    font-family: 'Oswald', 'Roboto', sans-serif;
}

#schedule-right > div > p.event {
    color: #9E9E9E;
}

#register-btn-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

#register-btn {
    width: 50vmin; height: 50vmin;
    position: relative;
    display: block;
    border-radius: 50%;
    border: 6px solid #fff;
}

#register-btn:hover {
    background-color: #fff;
}

#register-btn-text {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-size: 24pt;
}

#register-btn:hover > #register-btn-text {
    color: #000;
}

footer {
    padding: 16px 48px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

#contact-links {
    font-size: 0;
}

.contact-link {
    margin-left: 7px;
    display: inline-block;
    font-size: 20px;
    color: #fff;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.contact-link:hover {
    opacity: 1;
}